BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Rst" SITE "56" ;
IOBUF PORT "Rst" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "PhaseC2" SITE "48" ;
LOCATE COMP "DebugP2" SITE "106" ;
IOBUF PORT "PhaseC2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "DebugP2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "DebugP3" SITE "20" ;
LOCATE COMP "PhaseC3" SITE "21" ;
IOBUF PORT "DebugP3" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "PhaseC3" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "Rst1" SITE "38" ;
LOCATE COMP "Rst2" SITE "40" ;
IOBUF PORT "Rst1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Rst2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "Sin1" SITE "19" ;
LOCATE COMP "Sin2" SITE "12" ;
LOCATE COMP "Sin3" SITE "13" ;
LOCATE COMP "Sin4" SITE "14" ;
LOCATE COMP "Sin5" SITE "75" ;
LOCATE COMP "Sin6" SITE "74" ;
LOCATE COMP "Clk3" SITE "32" ;
LOCATE COMP "Clk2" SITE "69" ;
LOCATE COMP "Clk4" SITE "70" ;
IOBUF PORT "Clk4" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Clk3" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Clk2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Clk1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin6" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin5" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin4" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin3" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin11" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "Sin10" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "Sin9" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "Sin8" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "Sin7" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "Clk1" SITE "34" ;
OUTPUT PORT "Sin7" LOAD 0.000000 pF ;
LOCATE COMP "Sin7" SITE "77" ;
LOCATE COMP "Sin8" SITE "76" ;
LOCATE COMP "Sin9" SITE "6" ;
LOCATE COMP "Sin10" SITE "11" ;
LOCATE COMP "Sin11" SITE "10" ;
IOBUF PORT "Sin12" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin14" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "Sin12" SITE "9" ;
IOBUF PORT "Sin15" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "Sin16" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "Sin14" SITE "68" ;
LOCATE COMP "Sin15" SITE "67" ;
LOCATE COMP "Sin16" SITE "65" ;
LOCATE COMP "PhaseA2" SITE "58" ;
LOCATE COMP "PhaseA4" SITE "59" ;
IOBUF PORT "PhaseA2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "PhaseA4" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "PhaseA1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "PhaseA1" SITE "42" ;
IOBUF PORT "PhaseC1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "PhaseC4" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS1" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS2" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS3" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS4" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS5" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS6" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS7" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "RS8" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
LOCATE COMP "PhaseC1" SITE "47" ;
LOCATE COMP "PhaseC4" SITE "49" ;
LOCATE COMP "RS1" SITE "28" ;
LOCATE COMP "RS2" SITE "27" ;
LOCATE COMP "RS3" SITE "35" ;
LOCATE COMP "RS4" SITE "33" ;
LOCATE COMP "RS5" SITE "83" ;
LOCATE COMP "RS6" SITE "60" ;
LOCATE COMP "RS7" SITE "61" ;
LOCATE COMP "RS8" SITE "62" ;
IOBUF PORT "p1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
LOCATE COMP "ADClk3" SITE "99" ;
LOCATE COMP "ADClk1" SITE "50" ;
LOCATE COMP "ADClk2" SITE "1" ;
LOCATE COMP "ADMode1_1" SITE "55" ;
LOCATE COMP "ADMode1_2" SITE "95" ;
LOCATE COMP "ADMode1_3" SITE "96" ;
LOCATE COMP "ADMode_3" SITE "85" ;
LOCATE COMP "ADMode_1" SITE "52" ;
LOCATE COMP "ADMode_2" SITE "39" ;
LOCATE COMP "ADRst1" SITE "43" ;
LOCATE COMP "ADRst2" SITE "104" ;
LOCATE COMP "ADRst3" SITE "105" ;
IOBUF PORT "ADClk1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADClk2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADClk3" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode1_1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode1_2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode1_3" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode_1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode_2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADMode_3" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADRst1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADRst2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADRst3" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
LOCATE COMP "ADSout7" SITE "54" ;
LOCATE COMP "ADSout6" SITE "41" ;
LOCATE COMP "ADSout1" SITE "26" ;
LOCATE COMP "ADSout8" SITE "71" ;
IOBUF PORT "ADSout8" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout7" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout6" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout5" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout4" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout3" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout2" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "ADSout1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "AD1" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
IOBUF PORT "AD0" PULLMODE=NONE IO_TYPE=LVCMOS12 ;
LOCATE COMP "AD1" SITE "44" ;
LOCATE COMP "AD0" SITE "45" ;
LOCATE COMP "Sout1" SITE "127" ;
LOCATE COMP "Sout2" SITE "128" ;
IOBUF PORT "Sout1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Sout2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ClkOut" SITE "142" ;
LOCATE COMP "DataOut" SITE "141" ;
IOBUF PORT "ClkOut" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DataOut" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ResCS1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS3" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS4" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS5" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS6" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResClk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "ResCS1" SITE "122" ;
LOCATE COMP "ResCS2" SITE "119" ;
LOCATE COMP "ResCS3" SITE "113" ;
LOCATE COMP "ResCS4" SITE "114" ;
LOCATE COMP "ResCS5" SITE "115" ;
LOCATE COMP "ResCS6" SITE "111" ;
LOCATE COMP "ResClk" SITE "109" ;
LOCATE COMP "ResCS7" SITE "112" ;
LOCATE COMP "ResCS8" SITE "121" ;
IOBUF PORT "ResCS8" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResCS7" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ResSDI1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ResSDI2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ResSDI1" SITE "110" ;
LOCATE COMP "ResSDI2" SITE "139" ;
LOCATE COMP "Sout3" SITE "132" ;
IOBUF PORT "Sout3" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "ADSout2" SITE "25" ;
LOCATE COMP "ADSout4" SITE "24" ;
LOCATE COMP "ADSout3" SITE "23" ;
LOCATE COMP "ADSout5" SITE "22" ;
LOCATE COMP "OSC_in" SITE "125" ;
IOBUF PORT "OSC_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "Sout4" SITE "133" ;
IOBUF PORT "Sout4" IO_TYPE=LVCMOS33 ;
